@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color Modes */
.light {
    --background: 237,237,237,255;
    --border: 212, 212, 212, 1;

    --primary: 59,79,144,255;
    --red: 144,59,59,255;
    --gray: 99, 99, 99, 1;
  
    --card-primary-top: 237,237,237, 1;
  
    background: rgba(var(--background));
  }


  .dark {
    --background: 27, 27, 27; 
    --border: 87, 87, 87;

    --primary: 250, 250, 250;
    --red: 144,59,59,255;
    --gray: 99, 99, 99, 1;
    --blue: 0, 139, 248;
  
    --card-primary-top: 237,237,237, 1;
  
    background: rgba(var(--background));
  }