@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color Modes */
.light {
    --background: 236,236,236, 1;
    --border: 212, 212, 212, 1;
  
    --card-primary-top: 237,237,237, 1;
  
    background: rgba(var(--background));
  }


  .dark {
    --background: 236,236,236, 1;
    --border: 212, 212, 212, 1;
  
    --card-primary-top: 237,237,237, 1;
  
    background: rgba(var(--background));
  }